botocore>=1.24.46
boto3>=1.28.0
boto3-stubs>=1.20.49
python-dateutil==2.8.1
types-python-dateutil==2.8.13
pytest==7.2.0
moto==4.2.2
timeout-decorator==0.5.0
black==24.3.0
pip-audit==2.6.1
azure-storage-blob==12.18.3
azure-core==1.29.4
azure-identity==1.14.1
google-cloud-storage==2.12.0
setuptools==68.2.2
yara-python-wheel==4.4.0
